* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    float: left;
    height: 90px;
}

header {    
    background-color: #ffffff;
    color: #747474;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    left: 15%;
    position: sticky;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    color: #747474;
    
}

.menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #a4a6a5;
    font-weight: 400;
}

.dropdown-item:hover .dropdown-content{
    display: block;
}

header ul li {
    padding: 20px;
}
.dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 12px;
    z-index: 1;
    flex-wrap: wrap;
}
.dropdown-content a {
    font-size: 15px;
    justify-items: center;
}
.menu a:hover {
    color: #62f5bf;
}
.dropdown-content a:hover {
    color: #62f5bf;
}
.lead-section {
    display: block;
    width: 100%;
}
.inner-logo {
    display: block;
    position: relative;
    margin: 0 auto;
}
#first-title {
    font-size: 30px;
    font-weight: initial;
    color: #00b39b;
    margin: 1em 300px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .3px;

}
.box-container {
    display: flex;
    margin: 0 200px;
}
.box {
    float: left;
    min-height: 1px;
    padding: 10px;
    
    width: 50%;
}
p {
    font-family:  Helvetica,Helvetica,Arial,sans-serif;
    line-height: 1.75;
    color: #747474;
}
.services-section {
    margin: 4rem 200px 1rem;
}
.grid-elements {
    display: inline-grid;
    grid-template-columns: 400px 400px;
    grid-gap: 70px;
    
}
.grid-elements_inner1 {
    background-color: #00b3a7;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}

.grid-elements_inner2 {
    background-color: #428df5;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}
.grid-title {
    display: inline;
    font-size: 30px;
    color: rgb(250, 250, 250);
    text-align:justify;
    text-align-last: left;
}
h2 {
    color: rgb(250, 250, 250);
}

#select-items {
    height: 40px;
    border: 0;
    border-radius: 4px;
    width: 50%;
    text-transform: uppercase;
    transition: .4s;
}
#select-items:hover {
    background-color: #c3c9c5   ;
}

.grid-pic {
    position: relative;
    padding: 40px;
    max-height: 300px;
    margin-left: 105px;
}
.brands-section {
    margin-left: 60px;
    display: flex;
    
}
.brands-section_title {
    font-weight: normal;
    width: 30%;
    margin-left: 200px;
    margin-top: 1em;
    justify-content: initial;
    color: #00b39b;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .3px;
}
.brand-table {
    display: flex;
    list-style-type: none;
    margin-right: 200px;
}
.brand-table li {
    align-self: center;
    margin: 15px;
}
.statistics {
    background: #e5faf8;
    margin-top: 30px;
}
.stats-section_inner {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "hx mx";
    grid-template-areas: "hx mx";
    margin-left: 200px;
    margin-right: 200px;
}
.header-box {
    grid-area: hx;
    float: left;
    width: 50%;
    background-image: url("sygnet.png");
}
#stats-title {
    display: inline;
    color: #34ebc3;
    font-weight: normal;
    font-size: 2.125rem;
    padding: 10px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .3px;
}

.header-box p {
    line-height: 1.7;
    max-width: 400px;
    margin-top: 30px;
    font-size: .875em
}
.main-box {
    display: table;
    grid-area: mx;
    width: 50%;
}
.box {
    display: table-cell;
    background-color: white;
    padding: 15px;
    border-collapse: separate;
    column-gap: 10px;
    margin-top: 20px;
    text-align: center;
    height: 250px;
    column-fill: auto;
}
.box i {
    justify-items: center;
    font-size: 40px;
    color: #34ebc3;
}
h3 {
    color: #34ebc3;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 25px;
}
.box p {
    font-size: 15px;
}
.offices-section {
    margin-right: 200px;
    margin-left: 200px;
}
.offices-header {
    margin: 20px;
}
.offices-title {
    color: #34ebc3;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 2.125rem;
    letter-spacing: .3px;
    padding: 10px;
    text-align: center;
}
#offices-pg {
    text-align: center;
    letter-spacing: .3px;
}
.offices-gallery {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 320px 320px;
    grid-gap: 30px;
}
.office-inner {
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.office:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}
h4 {
    color: #747474;
}
.office-desc {
    display: flex;
    justify-content: space-between;
}
.btn-small {
    background-color: #3d83df;
    border: 1px solid #3d83df;
    border-radius: 4px;
    font-weight: 300;
    letter-spacing: .04em;
    color: white;
    padding: 4px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
footer {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.footer-pg {
    font-size: .75em;
    color: #ababab;
    text-align: center;
}







